<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <h1>Homepage</h1>
    <p>This site is in developpment</p>
    <!--
    <form method="get" action="/login">
    <input class="button" type="submit" value="Log In">
    </form>
    -->
  </body>
</html>